@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: #FDF5E6;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  line-height: 2rem;
  color: #000;
}

header {
  margin: 3rem;
  padding: 1rem;
  background: #CD5C5C;
  text-align: center;
  border-radius: 20px; 
}

main {
  background: #F08080;
  margin: 3rem;
  padding: 1rem;
  border-radius: 20px;
}

section {
  margin-bottom: 2rem;
  padding: 1rem;
}

.aula1 {
  background:#FDF5E6;
  border-radius: 20px;
}

section p {
  text-align: justify;
}

section a {
  text-decoration: none;
  color: black;
}

section a:hover {
  color: white;
}

footer {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

footer a {
  text-decoration: none;
  color: #000;
}
